<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
<!--     <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>
    <div class="container">
        <h1>Bienvenido</h1>
        <button onclick="location.href='user_settings'">Ajustes de Usuario</button>
        <button onclick="location.href='my_datasets'">Mis Datasets</button>
        <button onclick="location.href='fca_tree_builder'">Construir Árbol Clasificador FCA</button>
    </div>
</body>
</html>
